.divAll{
    position: block;
    width: 100vw;
    height: 100vh;
    background: #2A68AD;
    margin: 0; 
}

.logo-div{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
     
}
.logo{
    max-width: 70%;
    min-width: 50%;
}

.default{
    background-color: #94BDEB;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

.default i{ 
    font-size: 2rem;
}

.dark {
    /* height: 5rem; */
    background-color: #143885;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}


.dark i{ 
    font-size: 2rem;
}







