.nav-pills .nav-link{
    border-radius: 0;
    color: #000;
    background-color: #ddd;
}

.nav-pills .nav-item:not(:nth-last-child(1)) .nav-link{
    border-right: 1px solid white;
}

.tab-content{
    background-color: #f9fafb;
    border: 1px solid #ddd
}