
.min_height {
    min-height: 40rem;
    margin-top: 3em;

}

span{
    padding-top: 1rem !important;
}

.bar{
    width: 100%;
}

.progressB{
    height: 1px;
}

.bar Button{
    width: 2rem;
    height: 2rem;
}