body, html{
    background-color: white;
}

.height {
    height: 8rem;
    background-color: #5086C1;    
}

.title {
    display: flex;
    justify-content: center;
}

.buttonBack{
    font-size: 3rem;
    color: white;
    background-color: #5086C1;
    border: 0;
}